### Heroes Of Pymoli Data Analysis
* Write 3 Observable Trends:
* Based on the gender demographics of Heros of Pymoli, Males players (84%) significantly outweigh Female players (14%) for those who provided their gender. However, based on the purchasing information with regards to gender demographics, Females not only purchased more items per player, they also spent more on Heros of Pymoli per player. Females purchased 1.40 items per female player while males purchased 1.35 items male per player. Females spent an average of \\$4.47 per female player and males spent \\$4.07 per male player. Bringing in more female players might be a good way to increase revenue.
* Based on the age demographics the data shows Heros of Pymoli is most popular in the 20-24 age range (44% of players), followed by the 15-19 (18% of players) age range and the 25-29 age range (13% of players). These are the age demographics that have the most time to play games. The purchase data based on age demographics shows, the 20-24 age range brought in the most revenue at \\$1,114.06, and purchased the most items per person at 1.41 items per person. Although a smaller percentage of players at 5.3%, the 35-39 age range spent the highest amount per item purchased with 3.60 per item and had an average total revenue per person of \\$4.76.
* Based on the items analysis, "Oathbreaker, Last Hope of the Breaking Storm," is the most popular item with 12 purchases and had the highest total revenue at \\$50.76, of all the items. The item "Pursuit, Cudgel of Necromancy" was a popular purchase item with 8 purchases, however, the low purchase price of 1.08 lead to a small total revenue of \\$8.16. Item "Extraction, Quickblade Of Trembling Hands" was tied for the second most purchases with 9 purchases but was not in the top 5 in terms of total revenue. 

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [43]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
filename = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(filename)
#purchase_data.head()

## Player Count

* Display the total number of players

In [44]:
purchase_data.dtypes
total_players = [len(purchase_data['SN'].value_counts())]
total_players_df = pd.DataFrame({"Total Number of Player": total_players})
total_players_df

   Total Number of Player
0                     576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [45]:
#unique items use len of Item ID .unique
unique_items = [len(purchase_data['Item ID'].unique())]
#unique_items

In [46]:
#Average purchase price use .mean on Price
ave_purchase_price = purchase_data['Price'].mean()
#ave_purchase_price

In [47]:
#Total purchases use .count on Purchase ID
total_purchases = purchase_data['Purchase ID'].count()
#total_purchases

In [48]:
#Total Revenue use .sum on Price
total_revenue = purchase_data['Price'].sum()
#total_revenue

In [49]:
#Total Purchasing Analysis
total_purchasing_summary = pd.DataFrame({"Number of Items": unique_items, "Average Purchase Price": ave_purchase_price,
                                        "Total Number of Purchases": total_purchases, "Total Revenue": total_revenue})
total_purchasing_summary.loc[:, 'Average Purchase Price'] = total_purchasing_summary.loc[:, 'Average Purchase Price'].astype(float).map('${:,.2f}'.format)
total_purchasing_summary.loc[:, 'Total Revenue'] = total_purchasing_summary.loc[:, 'Total Revenue'].astype(float).map('${:,.2f}'.format)
total_purchasing_summary

,Number of Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [50]:
#Gender Demographics

#Total Unique count 
gender_df = purchase_data.drop_duplicates(['SN'])
gender_df.dtypes
gender_group_df = gender_df.groupby('Gender')
gender_group_df.count().head()
demographic_count = gender_group_df['SN'].count()
ave_demographic = demographic_count/total_players*100
ave_demographic.head()
#change ave_demographics to %
summary_gender_demographics = pd.DataFrame({"Demographics": demographic_count, "Demographic Percentage": ave_demographic})
summary_gender_demographics.loc[:,'Demographic Percentage'] = summary_gender_demographics.loc[:,'Demographic Percentage'].astype(float).map('{:,.2f}%'.format)
summary_gender_demographics

                       Demographics Demographic Percentage
Gender
Female                           81                 14.06%
Male                            484                 84.03%
Other / Non-Disclosed            11                  1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
#Purchasing Analysis by Gender
#Purchase count male and female
#Average purchase price male and female
#Total Purchase value male and female
#average Purchase Total per person by gender
purchase_data.head()
pur_gender_df = purchase_data.groupby('Gender')

#pur_gender_df.count().head()

In [52]:
#Average purchase price male and female ($)
ave_purchase_price = pur_gender_df['Price'].mean()
#Total Purchase value male and female
total_gender_price = pur_gender_df['Price'].sum()
#Purchase count male and female
purchases_gender = pur_gender_df['SN'].count()
#average Purchase Number per person by gender
ave_purchase_num = purchases_gender / demographic_count
#average Purchase Total per person by gender ($)
ave_purchase_total = total_gender_price / demographic_count

In [53]:
gen_purchase_analysis = pd.DataFrame({"Purchase Count": purchases_gender, "Average Purchase Price": ave_purchase_price, 
                                     "Total Purchase Value": total_gender_price, "Average Purchase Count per Person": ave_purchase_num,
                                     "Average Purchase Value per Person": ave_purchase_total})
gen_purchase_analysis.loc[:,'Average Purchase Price'] = gen_purchase_analysis.loc[:,'Average Purchase Price'].astype(float).map('${:,.2f}'.format)
gen_purchase_analysis.loc[:,'Average Purchase Value per Person'] = gen_purchase_analysis.loc[:,'Average Purchase Value per Person'].astype(float).map('${:,.2f}'.format)
gen_purchase_analysis.loc[:,'Average Purchase Count per Person'] = gen_purchase_analysis.loc[:,'Average Purchase Count per Person'].astype(float).map('{:,.2f}'.format)
gen_purchase_analysis.loc[:,'Total Purchase Value'] = gen_purchase_analysis.loc[:,'Total Purchase Value'].astype(float).map('${:,.2f}'.format)
gen_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Count per Person,Average Purchase Value per Person
Gender,,,,,
Female,113,$3.20,$361.94,1.40,$4.47
Male,652,$3.02,"$1,967.64",1.35,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,1.36,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [54]:
#pur_gender_df.describe()
#Age min = 7; max = 45
#Create bins and age range: 0-10, 10-15, 15-20, 20-25, 25-30, 30-35, 35-40, 40+
bins = [0,9,14,19,24,29,34,39,101]
age_range = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [55]:
#use cut function to place players in bins
#pd.cut(purchase_data['Age'], bins, labels = age_range)

In [56]:
gender_df['Age Range'] = pd.cut(gender_df['Age'], bins, labels = age_range)
#gender_df.head()

C:\Users\JoeRobbins\Anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [57]:
age_demo_count = gender_df.groupby('Age Range')
#age_demo_count.count().head()

In [58]:
age_count = age_demo_count['SN'].count()
#age_count
age_demo_percent = age_count / total_players * 100
#age_demo_percent

In [59]:
summary_age_demographics = pd.DataFrame({"Age Count": age_count, "Age Percentage": age_demo_percent})
summary_age_demographics.loc[:,'Age Percentage'] = summary_age_demographics.loc[:,'Age Percentage'].astype(float).map('{:,.2f}%'.format)
summary_age_demographics

           Age Count Age Percentage
Age Range
<10               17          2.95%
10-14             22          3.82%
15-19            107         18.58%
20-24            258         44.79%
25-29             77         13.37%
30-34             52          9.03%
35-39             31          5.38%
>=40              12          2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [61]:
purchase_data['Age Range'] = pd.cut(purchase_data['Age'], bins, labels = age_range)
age_purchase_df = purchase_data.groupby('Age Range')
#age_purchase_df.count().head()

In [62]:
age_purchase_count = age_purchase_df['Age'].count()
#age_purchase_count

aveage_purchase_price = age_purchase_df['Price'].mean()
#aveage_purchase_price

age_total_purchase_value = age_purchase_df['Price'].sum()
#age_total_purchase_value

age_ave_purchase_num = age_purchase_count / age_count
#age_ave_purchase_num

age_ave_purchase_total = age_total_purchase_value / age_count
#age_ave_purchase_total

In [63]:
age_purchase_analysis = pd.DataFrame({"Purchase Count": age_purchase_count, "Average Purchase Price": aveage_purchase_price, 
                                     "Total Purchase Value": age_total_purchase_value, "Purchase Count per Person": age_ave_purchase_num,
                                     "Average Purchase Value per Age": age_ave_purchase_total})
age_purchase_analysis.loc[:,'Average Purchase Price'] = age_purchase_analysis.loc[:,'Average Purchase Price'].astype(float).map('${:,.2f}'.format)
age_purchase_analysis.loc[:,'Total Purchase Value'] = age_purchase_analysis.loc[:,'Total Purchase Value'].astype(float).map('${:,.2f}'.format)
age_purchase_analysis.loc[:,'Average Purchase Value per Age'] = age_purchase_analysis.loc[:,'Average Purchase Value per Age'].astype(float).map('${:,.2f}'.format)
age_purchase_analysis.loc[:,'Purchase Count per Person'] = age_purchase_analysis.loc[:,'Purchase Count per Person'].astype(float).map('{:,.2f}'.format)
age_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Purchase Count per Person,Average Purchase Value per Age
Age Range,,,,,
<10,23,$3.35,$77.13,1.35,$4.54
10-14,28,$2.96,$82.78,1.27,$3.76
15-19,136,$3.04,$412.89,1.27,$3.86
20-24,365,$3.05,"$1,114.06",1.41,$4.32
25-29,101,$2.90,$293.00,1.31,$3.81
30-34,73,$2.93,$214.00,1.40,$4.12
35-39,41,$3.60,$147.67,1.32,$4.76
>=40,13,$2.94,$38.24,1.08,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [64]:
#Find top 5 spenders in game by total purchase value
#list in table SN, Purchase Count, Average Purchase Price, Total Purchase Value
#groupby SN
sn_groupby_df = purchase_data.groupby('SN')
#sn_groupby_df.count().head()

In [65]:
sn_purchase_count = sn_groupby_df['Item Name'].count()
sn_purchase_count

sn_ave_purchase_price = sn_groupby_df['Price'].mean()

sn_total_purchase_value = sn_groupby_df['Price'].sum()

In [66]:
sn_purchase_analysis = pd.DataFrame({"Purchase Count": sn_purchase_count, "Average Purchase Price": sn_ave_purchase_price, 
                                     "Total Purchase Value": sn_total_purchase_value})
sn_purchase_analysis
#sort by Total Purchase value
sn_purchase_analysis = sn_purchase_analysis.sort_values(['Total Purchase Value'], ascending=False)
#format ($)
sn_purchase_analysis.loc[:,'Average Purchase Price'] = sn_purchase_analysis.loc[:,'Average Purchase Price'].astype(float).map('${:,.2f}'.format)
sn_purchase_analysis.loc[:,'Total Purchase Value'] = sn_purchase_analysis.loc[:,'Total Purchase Value'].astype(float).map('${:,.2f}'.format)
sn_purchase_analysis.iloc[0:5, :]

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [67]:
#Find top 5 popular items in game by purchase count
#list in table ItemID, Item Name, Purchase Count, Item Price, Total Purchase Value
#groupby 
pop_items_df = purchase_data.groupby(["Item ID", "Item Name"])
#pop_items_df.count().head()

In [69]:
item_count = pop_items_df['Purchase ID'].count()
#item_count

item_price = pop_items_df['Price'].mean()
#item_price

item_total_value = pop_items_df['Price'].sum()
#item_total_value.head()

In [70]:
pop_items_analysis = pd.DataFrame({"Purchase Count": item_count, "Item Price": item_price, 
                                     "Total Purchase Value": item_total_value})
pop_items_analysis
#sort by Total Purchase value
pop_items_analysis = pop_items_analysis.sort_values(['Purchase Count'], ascending=False)
#format ($)
pop_items_analysis.loc[:, 'Item Price'] = pop_items_analysis.loc[:, 'Item Price'].astype(float).map('${:,.2f}'.format)
pop_items_analysis.loc[:, 'Total Purchase Value'] = pop_items_analysis.loc[:, 'Total Purchase Value'].map('${:,.2f}'.format)
pop_items_analysis.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [71]:
profit_items_analysis = pd.DataFrame({"Purchase Count": item_count, "Item Price": item_price, 
                                     "Total Purchase Value": item_total_value})
profit_items_analysis
#sort by Total Purchase value
profit_items_analysis = profit_items_analysis.sort_values(['Total Purchase Value'], ascending=False)
#format ($)
profit_items_analysis.loc[:, 'Item Price'] = profit_items_analysis.loc[:, 'Item Price'].astype(float).map('${:,.2f}'.format)
profit_items_analysis.loc[:, 'Total Purchase Value'] = profit_items_analysis.loc[:, 'Total Purchase Value'].map('${:,.2f}'.format)
profit_items_analysis.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80